
{% include "app1/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'presentations3.css' %}">
<section>
    <div class="banner">
        <span class="line"></span>
        <div class="text">CONFERENCES AND INVITED PRESENTATIONS</div>
        <span class="line"></span>
    </div> 
    <div class="container">

        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present14.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>

        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present11.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>

        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present3.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>
        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present4.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>
        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present5.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>
        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present6.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>
        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present7.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>
        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present8.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>
        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present9.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>

        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present1.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>
        
        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present10.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>

        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present12.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>
        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present13.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>

        <a target="_blank" href="https://www.routledge.com/Defending-the-Metaverse-Cybersecurity-Strategies-for-the-Next-Generation-Internet/Sheth-Ouaissa-Ouaissa-Onyema-Parekha/p/book/9781032946832?srsltid=AfmBOorko6wGTjU1q2INmWmJaEhmNEzQwedt_nFkhmMrWeBoJNReAkNY">
            <div class="card">
                <img src="{% static 'present2.jpg' %}" alt="Vanilla Cone">
            </div>
        </a>
    </div>
</section>
