
{% include "app1/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'rec.css' %}">

<section>
    {% comment %} <div class="banner">
        <span class="line"></span>
        <div class="text">IMAGES</div>
        <span class="line"></span>
    </div>  {% endcomment %}
    <div class="container">
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/OC1mbOVkwv4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/OC1mbOVkwv4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/OC1mbOVkwv4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/OC1mbOVkwv4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/OC1mbOVkwv4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/OC1mbOVkwv4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/OC1mbOVkwv4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/OC1mbOVkwv4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>
        <div class="card">
            <iframe
            src="https://www.youtube.com/embed/OC1mbOVkwv4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            ></iframe>
        </div>



        
        
        
    </div>
</section>


